<div class="card">
  <div class="card-header">
    <h4 class="card-title">
      <%= link_to grid_setting.market_name, grid_path(:market_name => grid_setting.market_name), data: { turbolinks: false } %>
    </h4>
    <% duration = Time.now - grid_setting.created_at %>
    <% day_ = duration.divmod(86400) %>
    <% hour_ = day_[1].divmod(3600) %>
    <% min_ = hour_[1].divmod(60) %>
    <%= grid_setting.created_at.strftime('%F %T') %> 建立<br/>
    <%= "(已運行 #{day_[0]} 日 #{hour_[0]} 時 #{min_[0]} 分)" %>
  </div>

  <% grid_profit = grid_profits[grid_setting.id][:grid].round(2) %>
  <% grid_profit_percent = (grid_profit / grid_setting.input_totalUSD_amount * 100).round(2) %>
  <% grid_color = "text-danger" %>
  <% if grid_profit > 0 %>
    <% grid_profit = "+" + grid_profit.to_s %>
    <% grid_profit_percent = "+" + grid_profit_percent.to_s %>
    <% grid_color = "text-success" %>
  <% end %>

  <% spot_profit = grid_profits[grid_setting.id][:spot].round(2) %>
  <% spot_profit_percent = (spot_profit / grid_setting.input_totalUSD_amount * 100).round(2) %>
  <% spot_color = "text-danger" %>
  <% if spot_profit > 0 %>
    <% spot_profit = "+" + spot_profit.to_s %>
    <% spot_profit_percent = "+" + spot_profit_percent.to_s %>
    <% spot_color = "text-success" %>
  <% end %>

  <% total_profit = (grid_profits[grid_setting.id][:grid] + grid_profits[grid_setting.id][:spot]).round(2) %>
  <% total_profit_percent = (total_profit / grid_setting.input_totalUSD_amount * 100).round(2) %>
  <% total_color = "text-danger" %>
  <% if total_profit > 0 %>
    <% total_profit = "+" + total_profit.to_s %>
    <% total_profit_percent = "+" + total_profit_percent.to_s %>
    <% total_color = "text-success" %>
  <% end %>

  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <h6>投入總額(USD)：</br><i class="far fa-dollar-sign"></i> <%= grid_setting.input_totalUSD_amount %></h6>
        <h6>
          網格利潤：</br><i class="far fa-dollar-sign"></i>
          <div class="custom-control-inline <%= grid_color %>"> <%= "#{grid_profit} (#{grid_profit_percent}%)" %> </div>
        </h6>
        <h6>網格區間：</br><%= "#{grid_setting.lower_limit} ~ #{grid_setting.upper_limit}" %> </h6>
        <!-- <h6>投入USD：</br><i class="far fa-dollar-sign"></i> <%= grid_setting.input_USD_amount %></h6> -->
        <!-- <h6>&nbsp</br>&nbsp</h6> -->
      </div>
      <div class="col-md-6">
        <h6>
          總利潤：</br><i class="far fa-dollar-sign"></i> 
          <div class="custom-control-inline <%= total_color %>"><%= "#{total_profit} (#{total_profit_percent}%)" %></div>
        </h6>
        <h6>
          現貨盈虧：</br><i class="far fa-dollar-sign"></i> 
          <div class="custom-control-inline <%= spot_color %>"><%= "#{spot_profit} (#{spot_profit_percent}%)" %></div>
        </h6>
        <h6>網格數量：</br><%= "#{grid_setting.grids}" %> </h6>
        <!-- <h6>投入現貨：</br><%= " #{grid_setting.input_spot_amount} (@ #{grid_setting.trigger_price})" %></h6> -->
      </div>
    </div>
    <h6>24小時套利次數：<%= grid_setting.grid_orders.select {|o| o if o.createdAt > Time.now - 1.day }.size %> 次 / 歷史套利次數: <%= grid_setting.grid_orders.select {|o| o if o.status == "closed" }.size %> 次 </h6>
  </div>
  <% unless grid_setting.status == "closing" %>
    <div class="card-body">
    <!-- Button grid_setting_close_form_trigger -->
    <button type="button" id="grid_setting_<%= grid_setting.id %>_close_form_trigger" class="btn btn-outline-danger btn-rounded" 
    data-bs-toggle="modal" data-bs-target="#grid_setting_<%= grid_setting.id %>_close_form">
      終止
    </button>
    </div>
    <div class="modal fade" id="grid_setting_<%= grid_setting.id %>_close_form" tabindex="-1" aria-labelledby="grid_setting_<%= grid_setting.id %>_modal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="grid_setting_<%= grid_setting.id %>_modal">子帳號： GridOnRails</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body table-sm">
              <div class="container-fluid">
                <div class="text-center">
                  <h3><%= "確定終止 #{grid_setting.market_name} 的網格？" %></h3>
                  <h4><%= "(#{grid_setting.created_at.strftime('%F %T')} 建立)" %></h4>
                </div>
              </div>
          </div>
          <div class="modal-footer">
            <%= form_with model: grid_setting, url: grid_close_path, method: "PUT" do |form| %>
              <%= form.hidden_field :id %>
              <%= hidden_field_tag(:current_market_name, grid_setting.market_name) %>
              <%= form.submit "確 定", :class => "text-center btn btn-outline-danger btn-rounded" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <div class="card-body">
      Closing, Please wait.
    </div>
  <% end %>
</div>