<!-- **********************************
  Content body start
*********************************** -->
<div class="content-body">
    <div class="container-fluid">
        <!-- row -->
        <div class="row">
          <div class="col-xl-3 col-md-6 col-sm-12">
            <div class="card">
                <div class="stat-widget-two card-body">
                    <div class="stat-content">
                        <div class="stat-text">USD可用餘額</div>
                        <div class="stat-digit">
                          <i class="far fa-dollar-sign"></i><%= balances["USD"]["amount"].round(2) %>
                        </div>
                    </div>
                    <div class="progress">
                      <% percent = (balances["USD"]["amount"] / balances["totalusdValue"]) * 100.round(0) %>
                      <div class="progress-bar bg-success" style="width: <%= percent %>%" role="progressbar" aria-valuenow="<%= percent %>" aria-valuemin="0" aria-valuemax="100">
                        USD
                      </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="stat-widget-two card-body">
                    <div class="stat-content">
                        <div class="stat-text"><%= "#{@coin.name}" %>可用餘額</div>
                        <div class="stat-digit">
                          <%= balances["#{@coin.name}"]["amount"].round(2) %> / <i class="far fa-dollar-sign"></i><%= balances["#{@coin.name}"]["usdValue"].round(2) %>
                        </div>
                    </div>
                    <div class="progress">
                      <% percent = (balances["#{@coin.name}"]["usdValue"] / balances["totalusdValue"]) * 100.round(0) %>
                      <div class="progress-bar bg-success" style="width: <%= percent %>%" role="progressbar" aria-valuenow="<%= percent %>" aria-valuemin="0" aria-valuemax="100">
                        in USD
                      </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 col-sm-12">
            <div class="card">
              <%= form_with model: @grid_setting, url: grid_create_path do |form| %>
                <div class="card-header">                  
                  <h4 class="card-title"><%= "#{@coin.name}" %> 網格機器人設定</h4>
                  記得不要按enter
                </div>
                <div class="card-body">

                  <% sizestep = @coin.spotsizeIncrement %>
                  <% pricestep = @coin.spotpriceIncrement %>
                  <%= form.hidden_field :coin_id %>
                  <%= form.hidden_field :coin_name %>
                  <%= form.hidden_field :grid_gap, value: pricestep %>
                  <input class="d-none" id="pricestep" value="<%= pricestep %>"></input>
                  <table class="table table-sm mb-0 table-borderless">
                      <thead>
                        <tr>
                          <th></th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>區間上限</td>
                          <td>區間下限</td>
                        </tr>
                        <tr>
                          <td><%= form.number_field :upper_limit, step: pricestep, value: (0.01 / sizestep) + pricestep, min: (0.01 / sizestep) + pricestep,:id => "upper_limit", :class => "form-control" %></td>
                          <td><%= form.number_field :lower_limit, step: pricestep, value: (0.01 / sizestep), min: (0.01 / sizestep),:id => "lower_limit", :class => "form-control" %></td>
                        </tr>
                        <tr>
                          <td>網格數量</td>
                          <td>單格大小</td>
                        </tr>
                        <tr>
                          <td><%= form.number_field :grids, value: 2, min: 2,:id => "grids", :class => "form-control" %></td>
                          <td><%= form.number_field :order_size, step: sizestep, value: sizestep, min: sizestep,:id => "order_size", :class => "form-control" %></td>
                        </tr>
                        <tr>
                          <td>投資數量(USD)</td>
                          <td><%= "投資數量(#{form.object.coin_name})" %></td>
                        </tr>
                        <tr>
                          <td><%= form.number_field :input_USD_amount, step: 0.01, value: 0.01, min: 0, max: balances["USD"]["amount"],:id => "input_USD_amount",:class => "form-control" %></td>
                          <td><%= form.number_field :input_spot_amount, step: sizestep, value: 0, min: 0, max: balances[@coin.name]["amount"],:id => "input_spot_amount", :class => "form-control" %></td>
                        </tr>
                        <tr>
                          <td>開單價格</td>
                          <td>開單價差</td>
                        </tr>
                        <tr>
                          <td><%= form.number_field :trigger_price, step: pricestep, value: @market["price"], min: 0,:id => "market_price", :class => "form-control" %></td>
                          <td><%= form.number_field :threshold, step: 0.001, value: 0, min: 0,:id => "threshold", :class => "form-control" %></td>
                        </tr>
                        <tr>
                          <td>止損價格</td>
                          <td>止盈價格</td>
                        </tr>
                        <tr>
                          <td><%= form.number_field :stop_loss_price, step: pricestep, min: 0, :class => "form-control" %></td>
                          <td><%= form.number_field :take_profit_price, step: pricestep, min: 0, :class => "form-control" %></td>
                        </tr>
                      </tbody>
                  </table>
                <%= form.submit "送 出", :class => "text-center btn btn-outline-primary btn-rounded" %>
              <% end %>
            </div>
          </div>
        </div>
    </div>
</div>