
<!-- # 2021/09/29 全面改用market_name
# 2021/09/29 全面廢棄coin_name coin 之類的所有關聯
 -->
<!-- **********************************
  Content body start
*********************************** -->
<div class="content-body">
    <div class="container-fluid">
        <!-- row -->
        <div class="row">
          <div class="col-xl-3 col-md-6 col-sm-12">
            <div class="card">
                <div class="stat-widget-two card-body">
                    <div class="stat-content">
                        <div class="stat-text">USD可用餘額</div>
                        <div class="stat-digit">
                          <i class="far fa-dollar-sign"></i><%= balances["USD"]["available_amount"].round(2) %>
                        </div>
                    </div>
                    <div class="progress">
                      <% percent = (balances["USD"]["available_amount"] / balances["totalusdValue"]) * 100.round(0) %>
                      <div class="progress-bar bg-success" style="width: <%= percent %>%" role="progressbar" aria-valuenow="<%= percent %>" aria-valuemin="0" aria-valuemax="100">
                        USD
                      </div>
                    </div>
                </div>
            </div>
            <% if coin_name %>
              <div class="card">
                  <div class="stat-widget-two card-body">
                      <div class="stat-content">
                          <div class="stat-text"><%= "#{coin_name}" %>可用餘額</div>
                          <div class="stat-digit">
                            <% spot_precision = decimals(@grid_setting.size_step) %>
                            <% spot_data = balances[coin_name] %>
                            
                            <% spot_available_usdValue = spot_data["spot_amount"] == 0 ? 0 : (spot_data["usdValue"] / spot_data["spot_amount"]) * spot_data["available_amount"] %>
                            <%= spot_data["available_amount"].round(spot_precision) %> / <i class="far fa-dollar-sign"></i><%= spot_available_usdValue.round(2) %>
                          </div>
                      </div>
                      <div class="progress">
                        <% percent = (spot_available_usdValue / balances["totalusdValue"]) * 100.round(0) %>
                        <div class="progress-bar bg-success" style="width: <%= percent %>%" role="progressbar" aria-valuenow="<%= percent %>" aria-valuemin="0" aria-valuemax="100">
                          in USD
                        </div>
                      </div>
                  </div>
              </div>
            <% end %>
          </div>
          <div class="col-xl-3 col-md-6 col-sm-12">
            <div class="card">
              <%= form_with model: @grid_setting, url: grid_create_path do |form| %>
                <div class="card-header">                  
                  <h4 class="card-title"><%= @grid_setting["market_name"] %> 網格機器人設定</h4>
                </div>
                <div class="card-body">
                  <% size_step = @grid_setting.size_step %>
                  <% price_step = @grid_setting.price_step %>
                  <%= form.hidden_field :size_step %>
                  <%= form.hidden_field :price_step %>
                  <%= form.hidden_field :market_name %>
                  <%= form.hidden_field :grid_gap, value: price_step %>
                  <table class="table table-sm mb-0 table-borderless">
                      <thead>
                        <tr>
                          <th></th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>區間上限</td>
                          <td>區間下限</td>
                        </tr>
                        <tr>
                          <td><%= form.number_field :upper_limit, step: price_step, value: (0.01 / size_step) + price_step, min: (0.01 / size_step) + price_step,:id => "upper_limit", :class => "form-control" %></td>
                          <td><%= form.number_field :lower_limit, step: price_step, value: (0.01 / size_step), min: (0.01 / size_step),:id => "lower_limit", :class => "form-control" %></td>
                        </tr>
                        <tr>
                          <td>網格數量</td>
                          <td>單格大小</td>
                        </tr>
                        <tr>
                          <td><%= form.number_field :grids, value: 2, min: 2,:id => "grids", :class => "form-control" %></td>
                          <td><%= form.number_field :order_size, step: size_step, value: size_step, min: size_step,:id => "order_size", :class => "form-control" %></td>
                        </tr>
                        <tr>
                          <td>投資數量(USD)</td>
                          <td><%= "投資數量(#{coin_name})" if coin_name %></td>
                        </tr>
                        <tr>
                          <td><%= form.number_field :input_USD_amount, step: 0.01, value: 0.01, min: 0, max: balances["USD"]["available_amount"],:id => "input_USD_amount",:class => "form-control" %>
                            <div id="input_USD_detail" class="form-control-detail">&nbsp;</div>
                          </td>
                          <td><%= form.number_field :input_spot_amount, step: size_step, value: 0, min: 0, max: spot_data["spot_amount"],:id => "input_spot_amount", :class => "form-control" if coin_name %>
                            <div id="input_spot_detail" class="form-control-detail">&nbsp;</div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            開單價格
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" id="check_limit">
                              <label class="form-check-label" for="check_limit">
                                限價
                              </label>
                            </div>
                          </td>
                          <td>開單價差</td>
                        </tr>
                        <tr>
                          <td><%= form.number_field :trigger_price, step: price_step, value: @market["price"], min: 0,:id => "market_price", :class => "form-control" %></td>
                          <td><%= form.number_field :threshold, step: 0.001, value: 0, min: 0,:id => "threshold", :class => "form-control" %></td>
                        </tr>
                        <tr>
                          <td>止損價格</td>
                          <td>止盈價格</td>
                        </tr>
                        <tr>
                          <td><%= form.number_field :stop_loss_price, step: price_step, min: 0, :class => "form-control" %></td>
                          <td><%= form.number_field :take_profit_price, step: price_step, min: 0, :class => "form-control" %></td>
                        </tr>
                      </tbody>
                  </table>
                  &nbsp;
                  <!-- Button grid_setting_check_form_trigger -->
                  <button type="button" id="grid_setting_check_form_trigger" class="btn btn-outline-secondary btn-rounded" 
                  data-bs-toggle="modal" data-bs-target="#grid_setting_check_form">
                    確定
                  </button>
                  <div class="modal fade" id="grid_setting_check_form" tabindex="-1" aria-labelledby="grid_setting_check_modal" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="grid_setting_check_modal">子帳號： GridOnRails</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body table-sm">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="text-center col-sm-3">區間上限</div>
                                    <div class="text-center col-sm-3" id="check_form_upper_limit"></div>
                                    <div class="text-center col-sm-3">區間下限</div>
                                    <div class="text-center col-sm-3" id="check_form_lower_limit"></div>
                                </div>
                                <div class="row">
                                    <div class="text-center col-sm-3">網格數量</div>
                                    <div class="text-center col-sm-3" id="check_form_grids"></div>
                                    <div class="text-center col-sm-3">單格大小</div>
                                    <div class="text-center col-sm-3" id="check_form_order_size"></div>
                                </div>
                                <div class="row">
                                    <div class="text-center col-sm-3">投資數量(USD)</div>
                                    <div class="text-center col-sm-3" id="check_form_input_USD_amount"></div>
                                    <div class="text-center col-sm-3"><%= "投資數量(#{coin_name})" if coin_name %></div>
                                    <div class="text-center col-sm-3" id="check_form_input_spot_amount"></div>
                                </div>
                                <div class="row">
                                    <div class="text-center col-sm-3" id="check_form_market_price_title">開單價格(市價)</div>
                                    <div class="text-center col-sm-3" id="check_form_market_price"></div>
                                    <div class="text-center col-sm-3">開單價差</div>
                                    <div class="text-center col-sm-3" id="check_form_threshold"></div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-outline-secondary btn-rounded" data-bs-dismiss="modal">關 閉</button>
                          <%= form.submit "送 出", :class => "text-center btn btn-outline-primary btn-rounded" %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          <div class="col-xl-6 col-md-12 col-sm-12">
            <div class="card">
              <!-- TradingView Widget BEGIN -->
              <div class="tradingview-widget-container">
                <div id="tradingview_1f621" style="height: 499px;"></div>
                <div class="tradingview-widget-copyright">
                  <% tv_href = "https://tw.tradingview.com/symbols/#{tv_market_name}/?exchange=FTX" %> 
                  <a href=<%= tv_href %> rel="noopener" target="_blank">
                    <span class="blue-text"><%= tv_market_name %> 圖表</span>
                  </a>由TradingView提供</div>
                <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
                <script type="text/javascript">
                  new TradingView.widget({
                    "autosize": true,
                    "symbol": "FTX:<%= tv_market_name %>",
                    "timezone": "Asia/Taipei",
                    "theme": "light",
                    "style": "1",
                    "locale": "zh_TW",
                    "toolbar_bg": "#f1f3f6",
                    "enable_publishing": false,
                    "withdateranges": true,
                    "range": "1M",
                    "container_id": "tradingview_1f621"});
                </script>
              </div>
              <!-- TradingView Widget END -->
            </div>
          </div>
        </div>
        <div class="row">
          <% @grid_settings.each do |grid_setting| %>
            <div class="col-xl-3 col-md-6 col-sm-12">
              <div class="card">
                  <div class="card-header">                  
                    <h4 class="card-title"><%= grid_setting.market_name %></h4>
                    <% duration = Time.now - grid_setting.created_at %>
                    <% day_ = duration.divmod(86400) %>
                    <% hour_ = day_[1].divmod(3600) %>
                    <% min_ = hour_[1].divmod(60) %>
                    <%= grid_setting.created_at.strftime('%F %T') %> 建立<br/>
                    <%= "(已運行 #{day_[0]} 日 #{hour_[0]} 時 #{min_[0]} 分)" %>
                  </div>
                  <div class="card-header">
                    <h6>投入金額(USD)： <i class="far fa-dollar-sign"></i> <%= grid_setting.input_USD_amount %></h6>
                    <h6>投入現貨：<%= grid_setting.input_spot_amount %></h6>
                  </div>
                  <% unless grid_setting.status == "closing" %>
                    <div class="card-body">
                    <!-- Button grid_setting_close_form_trigger -->
                    <button type="button" id="grid_setting_<%= grid_setting.id %>_close_form_trigger" class="btn btn-outline-danger btn-rounded" 
                    data-bs-toggle="modal" data-bs-target="#grid_setting_<%= grid_setting.id %>_close_form">
                      確定
                    </button>
                    </div>
                    <div class="modal fade" id="grid_setting_<%= grid_setting.id %>_close_form" tabindex="-1" aria-labelledby="grid_setting_<%= grid_setting.id %>_modal" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="grid_setting_<%= grid_setting.id %>_modal">子帳號： GridOnRails</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body table-sm">
                              <div class="container-fluid">
                                <div class="text-center">
                                  <h3><%= "確定終止 #{grid_setting.market_name} 的網格？" %></h3>
                                  <h4><%= "(#{grid_setting.created_at.strftime('%F %T')} 建立)" %></h4>
                                </div>
                              </div>
                          </div>
                          <div class="modal-footer">
                            <%= form_with model: grid_setting, url: grid_close_path, method: "PUT" do |form| %>
                              <%= form.hidden_field :id %>
                              <%= hidden_field_tag(:current_market_name, grid_setting.market_name) %>
                              <%= form.submit "確 定", :class => "text-center btn btn-outline-danger btn-rounded" %>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>
                  <% else %>
                    <div class="card-body">
                      Closing, Please wait.
                    </div>
                  <% end %>
              </div>
            </div>
          <% end %>
        </div>
    </div>
</div>