<!--**********************************
  Content body start
***********************************-->
<div class="content-body">
  <!-- row -->
  <% colors = ["bg-success", "bg-secondary", "bg-info", "bg-warning", "bg-danger"] %>
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-3 col-sm-6">
              <div class="card">
                  <div class="stat-widget-two card-body">
                      <div class="stat-content">
                        <% leverage = (@ftx_account["result"]["totalPositionSize"]/@ftx_account["result"]["collateral"]).round(2) if @ftx_account["result"]["collateral"] %>
                        <% if leverage >= 1 %>
                          <% percentage = (1 / leverage) * 100.round(0) %>
                          <% percentage_over = 100 - percentage %>
                        <% else %>
                          <% percentage = leverage * 100.round(0) %>
                          <% percentage_over = 0 %>
                        <% end %>
                        <div class="stat-text">持倉槓桿</div>
                        <div class="stat-digit">
                          <%= leverage %> <i class="far fa-times"></i>
                        </div>
                      </div>
                      <div class="progress">
                        <% lev_color = "bg-warning" if leverage >= 1 %>
                        <div class="progress-bar bg-success" style="width: <%= percentage %>%" role="progressbar" aria-valuenow="<%= percentage %>" aria-valuemin="0" aria-valuemax="100"></div>
                        <div class="progress-bar progress-bar-striped progress-bar-animated <%= lev_color %>" style="width: <%= percentage_over %>%" role="progressbar" aria-valuenow="<%= percentage_over %>" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                  </div>
              </div>
              <div class="card">
                  <div class="stat-widget-two card-body">
                      <div class="stat-content">
                          <div class="stat-text">現貨價值</div>
                          <div class="stat-digit"> <i class="far fa-dollar-sign"></i><%= totalusdValue %></div>
                          <%= pie_chart @chart_balances_data, prefix: "$", donut: true, dataset: {borderWidth: 5, hoverOffset: 4,backgroundColor: ["#99b2e5","#ed9c88","#ffcc7f","#87ca8b","#cc7fcc","#9d9ed5","#7fcce2"]} %>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-sm-6">
              <div class="card">
                  <div class="stat-widget-two card-body">
                      <div class="stat-content">
                        <table class="table mb-0">
                          <thead>
                            <tr>
                              <th>7 日</th>
                              <th>收益</th>
                              <th>年化報酬率</th>
                            </tr>
                          </thead>
                          <tbody>
                              <% list_index.each do |coin_name, i| %>
                                <% next if payments[coin_name].nil? %>
                                <tr>
                                  <td class="text-center">
                                    <%= link_to coin_name, funding_show_path(:coin_name => coin_name), data: { turbolinks: false } %>
                                  </td>
                                  <td class="text-right"><i class="far fa-dollar-sign"></i> <%= payments[coin_name][:weekly].round(2) %></td>
                                  <td class="text-center">
                                    <%= ((payments[coin_name][:weekly] / costs[coin_name][:weekly])* 24 * 365 * 100).round(2) %> <i class="far fa-percent"></i>
                                  </td>
                                </tr>
                              <% end %>
                          </tbody>
                        </table>
                        <table class="table mb-0">
                              <% disp_days = 30 %>
                          <thead>
                            <tr>
                              <th>30 日</th>
                              <th>　　</th>
                              <th>　　　　　</th>
                            </tr>
                          </thead>
                          <tbody>
                              <% list_index.each do |coin_name, i| %>
                                <% next if payments[coin_name].nil? %>
                                <tr>
                                  <td class="text-center">
                                    <%= link_to coin_name, funding_show_path(:coin_name => coin_name), data: { turbolinks: false } %>
                                  </td>
                                  <td class="text-right"><i class="far fa-dollar-sign"></i> <%= payments[coin_name][:monthly].round(2) %></td>
                                  <td class="text-center">
                                    <%= ((payments[coin_name][:monthly] / costs[coin_name][:monthly])* 24 * 365 * 100).round(2) %> <i class="far fa-percent"></i>
                                  </td>
                                </tr>
                              <% end %>
                          </tbody>
                        </table>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 col-sm-6">
              <div class="card">
                  <div class="stat-widget-two card-body">
                      <div class="stat-content">
                          <div class="stat-text">30 日收益</div>
                          <div>
                            <%= column_chart  @chart_payment_data, height: "511px", prefix: "$ ", stacked: true, dataset: {borderWidth: 0} %>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- /# card -->
          </div>
          <!-- /# column -->
      </div>
      <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12">
            <div class="card">
              <div class="card-header">
                  <h4 class="card-title">FTX</h4>
              </div>
              <div class="card-body">
                  <table class="table table-sm mb-0 table-bordered table-hover table-fixhead table-responsive" data-toggle="table" data-search="true" data-custom-sort="funds_table_sort">
                      <thead>
                          <tr>
                            <th colspan="1"></th>
                            <th colspan="2">資金費率</th>
                            <th colspan="2">成功率</th>
                            <th colspan="2">年化報酬率</th>
                            <th colspan="2">價差率</th>
                            <th colspan="1"></th>
                            <th colspan="2">成交量</th>
                            <th colspan="1"></th>
                            <th colspan="1"></th>
                          </tr>
                          <tr>
                            <th>幣種</th>
                            <th data-sortable="true">最近</th>
                            <th data-sortable="true">預估</th>
                            <th data-sortable="true">最近48小時</th>
                            <th data-sortable="true">最近一周</th>
                            <th data-sortable="true">最近一周</th>
                            <th data-sortable="true">最近一月</th>
                            <th data-sortable="true">空永續/多現貨</th>
                            <th data-sortable="true">多永續/空現貨</th>
                            <th data-sortable="true">現貨成交價格</th>
                            <th data-sortable="true">現貨24小時</th>
                            <th data-sortable="true">永續24小時</th>
                            <th data-sortable="true">永續持倉量</th>
                            <th data-sortable="true">抵押率</th>
                          </tr>
                      </thead>
                      <tbody>
                        <% @coins.each do |coin| %>
                          <tr>
                            <td class="text-center"> 
                              <%= link_to coin.name, funding_show_path(:coin_name => coin.name), :class => ('text-muted' unless coin.weight > 0), data: { turbolinks: false } %>
                            </td>
                            <td class="text-right"><%= "#{(coin.current_fund_stat.rate * 100).round(4).to_s}%" %></td>
                            <td class="text-right"><%= "#{(coin.current_fund_stat.nextFundingRate * 100).round(4).to_s}%" %></td>
                            <td class="text-right <%= 'text-success'if coin.current_fund_stat.success_rate_past_48_hrs > 0.85 %>">
                              <%= "#{(coin.current_fund_stat.success_rate_past_48_hrs * 100).round(1).to_s}%" %>
                            </td>
                            <td class="text-right <%= 'text-success'if coin.current_fund_stat.success_rate_past_week > 0.8 %>">
                              <%= "#{(coin.current_fund_stat.success_rate_past_week * 100).round(1).to_s}%" %>
                            </td>
                              <% case
                                when coin.current_fund_stat.irr_past_week > 0.1 %><% irr_past_week_class = 'text-success' %>
                              <% when coin.current_fund_stat.irr_past_week < 0 %><% irr_past_week_class = 'text-danger' %>
                              <% end %>
                            <td class="text-right <%= irr_past_week_class %>">
                              <%= "#{(coin.current_fund_stat.irr_past_week * 100).round(1).to_s}%" %>
                            </td>
                            <td class="text-right <%= 'text-success'if coin.current_fund_stat.irr_past_month > 0.1 %>">
                              <%= "#{(coin.current_fund_stat.irr_past_month * 100).round(1).to_s}%" %>
                            </td>
                            <td class="text-right <%= 'text-primary'if coin.current_fund_stat.perp_over_spot > 1 %>">
                              <%= "#{((coin.current_fund_stat.perp_over_spot - 1) * 100).round(3).to_s}%" %>
                            </td>
                            <td class="text-right <%= 'text-primary'if coin.current_fund_stat.spot_over_perp > 1 %>">
                              <%= "#{((coin.current_fund_stat.spot_over_perp - 1) * 100).round(3).to_s}%" %>
                            </td>
                            <td class="text-right"><%= "#{number_to_currency(coin.current_fund_stat.spot_price_usd, precision: 5)}" %></td>
                            <td class="text-right"><%= "#{number_to_currency(coin.current_fund_stat.spot_volume)}" %></td>
                            <td class="text-right"><%= "#{number_to_currency(coin.current_fund_stat.perp_volume)}" %></td>
                            <!-- openInterest volume is based on coin rather than USD -->
                            <td class="text-right">
                              <%= "#{number_to_currency(coin.current_fund_stat.openInterest * coin.current_fund_stat.spot_price_usd)}" %>
                            </td>
                            <td class="text-right"><%= coin.weight %></td>
                          </tr>
                        <% end %>
                        <tr></tr>
                      </tbody>
                  </table>
              </div>
            </div>
          </div>
      </div>
      <div class="row" style="display: none;">
          <div class="col-xl-12 col-xxl-6 col-lg-6 col-md-12">
              <div class="row">
                  <div class="col-xl-3 col-lg-6 col-sm-6 col-xxl-6 col-md-6">
                      <div class="card">
                          <div class="social-graph-wrapper widget-facebook">
                              <span class="s-icon"><i class="fab fa-facebook-f"></i></span>
                          </div>
                          <div class="row">
                              <div class="col-6 border-right">
                                  <div class="pt-3 pb-3 pl-0 pr-0 text-center">
                                      <h4 class="m-1"><span class="counter">89</span> k</h4>
                                      <p class="m-0">Friends</p>
                                  </div>
                              </div>
                              <div class="col-6">
                                  <div class="pt-3 pb-3 pl-0 pr-0 text-center">
                                      <h4 class="m-1"><span class="counter">119</span> k</h4>
                                      <p class="m-0">Followers</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-xl-3 col-lg-6 col-sm-6 col-xxl-6 col-md-6">
                      <div class="card">
                          <div class="social-graph-wrapper widget-linkedin">
                              <span class="s-icon"><i class="fab fa-linkedin-in"></i></span>
                          </div>
                          <div class="row">
                              <div class="col-6 border-right">
                                  <div class="pt-3 pb-3 pl-0 pr-0 text-center">
                                      <h4 class="m-1"><span class="counter">89</span> k</h4>
                                      <p class="m-0">Friends</p>
                                  </div>
                              </div>
                              <div class="col-6">
                                  <div class="pt-3 pb-3 pl-0 pr-0 text-center">
                                      <h4 class="m-1"><span class="counter">119</span> k</h4>
                                      <p class="m-0">Followers</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-xl-3 col-lg-6 col-sm-6 col-xxl-6 col-md-6">
                      <div class="card">
                          <div class="social-graph-wrapper widget-googleplus">
                              <span class="s-icon"><i class="fab fa-google-plus-g"></i></span>
                          </div>
                          <div class="row">
                              <div class="col-6 border-right">
                                  <div class="pt-3 pb-3 pl-0 pr-0 text-center">
                                      <h4 class="m-1"><span class="counter">89</span> k</h4>
                                      <p class="m-0">Friends</p>
                                  </div>
                              </div>
                              <div class="col-6">
                                  <div class="pt-3 pb-3 pl-0 pr-0 text-center">
                                      <h4 class="m-1"><span class="counter">119</span> k</h4>
                                      <p class="m-0">Followers</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-xl-3 col-lg-6 col-sm-6 col-xxl-6 col-md-6">
                      <div class="card">
                          <div class="social-graph-wrapper widget-twitter">
                              <span class="s-icon"><i class="fab fa-twitter"></i></span>
                          </div>
                          <div class="row">
                              <div class="col-6 border-right">
                                  <div class="pt-3 pb-3 pl-0 pr-0 text-center">
                                      <h4 class="m-1"><span class="counter">89</span> k</h4>
                                      <p class="m-0">Friends</p>
                                  </div>
                              </div>
                              <div class="col-6">
                                  <div class="pt-3 pb-3 pl-0 pr-0 text-center">
                                      <h4 class="m-1"><span class="counter">119</span> k</h4>
                                      <p class="m-0">Followers</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

  </div>
</div>
<!--**********************************
  Content body end
***********************************-->