<style type="text/css">

  input[type="range"] {
  -webkit-appearance: none;
  height: 0.875rem;
  width: 100%;
  border-radius: 0.875rem;
  overflow: hidden;
  cursor: pointer;}
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0.875rem;
    height: 0.875rem;
    border-radius: 0.875rem;
    border: 0.1rem solid #999;
    background-color: #fff;
    box-shadow: -20vw 0 0.5vw 19.5vw #593bdb8a;
  }
  input[type="range"]::-webkit-slider-runnable-track {
    background-color: #e9ecef;
  }

</style>
<!-- **********************************
  Content body start
*********************************** -->
<div class="content-body">
    <div class="container-fluid">
        <!-- row -->
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-xl-3 col-md-6 col-sm-12">
                        <div class="card">
                            <div class="stat-widget-two card-body">
                                <div class="stat-content">
                                    <div class="stat-text">可用餘額</div>
                                    <div class="stat-digit">
                                      <i class="far fa-dollar-sign"></i><%= balances["USD"]["amount"].round(2) %>
                                    </div>
                                </div>
                                <div class="progress">
                                  <% pg_i = 0 %>
                                  <% balances.each do |c, data| %>
                                    <% next unless ["USD"].include?(c) %>
                                    <% percent = (data["usdValue"] / balances["totalusdValue"]) * 100.round(0) %>
                                    <div class="progress-bar <%= ["bg-success", "bg-primary"][pg_i] %>" style="width: <%= percent %>%" role="progressbar" aria-valuenow="<%= percent %>" aria-valuemin="0" aria-valuemax="100">
                                      <%= c %>
                                    </div> 
                                    <% pg_i += 1 %>
                                  <% end %>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="stat-widget-two card-body">
                                <div class="stat-content">
                                    <div class="stat-text">帳戶持倉</div>
                                    <div class="stat-digit"><i class="far fa-dollar-sign"></i>123</div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar" style="width: 25%" role="progressbar" aria-valuenow="<%= 25 %>" aria-valuemin="0" aria-valuemax="100">
                                      <%= 25 %>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title"><%= "帳戶統計" %></h4>
                            </div>
                            <div class="card-body">
                                <table class="table table-sm mb-0">
                                  <thead>
                                    <tr>
                                      <th><%= "#{@coin.name}" %></th>
                                      <th>現貨</th>
                                      <th>永續</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td class="text-right">持有數量</td>
                                      <td class="text-right"><%= balances[@coin.name]["amount"] %></td>
                                      <td class="text-right"><%= @position["netSize"] %></td>
                                    </tr>
                                    <tr>
                                      <td class="text-right">美元價值</td>
                                      <td class="text-right"><%= "#{number_to_currency(balances[@coin.name]["usdValue"], precision: 2)}" %></td>
                                      <td class="text-right"><%= "#{number_to_currency(@position["cost"], precision: 2)}" %></td>
                                    </tr>
                                    <tr>
                                      <td class="text-right">當前成交價</td>
                                      <td class="text-right">
                                        <%= "#{number_to_currency(@fund_stat.spot_ask_usd, precision: decimals(@fund_stat.spot_ask_usd) > 8 ? 8 : decimals(@fund_stat.spot_ask_usd))}" %>
                                      </td>
                                      <td class="text-right">
                                        <%= "#{number_to_currency(@fund_stat.perp_bid_usd, precision: decimals(@fund_stat.perp_bid_usd) > 8 ? 8 : decimals(@fund_stat.spot_ask_usd))}" %>
                                      </td>
                                    </tr>
                                    <tr>
                                      <% precision = decimals(@coin.sizeIncrement) %>
                                      <% max_additional_amount = 
                                        ((balances["USD"]["amount"] / @fund_stat.spot_ask_usd) / @coin.sizeIncrement).floor * @coin.sizeIncrement %>
                                      <td class="text-right">最大購買量</td>
                                      <td class="text-right">
                                        <%= number_with_precision(max_additional_amount, precision: precision) %></td>
                                      <td class="text-right"></td>
                                    </tr>

                                  </tbody>
                                  <thead>
                                    <tr>
                                      <td class="align-bottom text-right" colspan="1">目標數量</td>
                                      <td class="text-right" colspan="12">
                                        <input type="range" id="a_slider"
                                          min="0"
                                          max="<%= number_with_precision(max_additional_amount + @position["netSize"].abs, precision: precision)%>"
                                          value="<%= number_with_precision(@position["netSize"].abs, precision: precision) %>"
                                          step="<%= number_with_precision(@coin.sizeIncrement ,precision: precision) %>"
                                          aria-valuemin="0"
                                          aria-valuemax="<%= number_with_precision(max_additional_amount + @position["netSize"].abs,precision: precision) %>"
                                          aria-valuenow="<%= number_with_precision(@position["netSize"].abs, precision: precision) %>">
                                        <div>
                                          <div id="bias" style="display: inline; padding-right: 0.3rem;">(+0)</div>
                                          <output for="a_slider" id="amount"><%= number_with_precision(@position["netSize"].abs, precision: precision) %></output>
                                        </div>  
                                      </td>
                                    </tr>
                                    <tr>
                                      <td colspan="1">
                                      </td>
                                      <td colspan="2">
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-outline-secondary btn-rounded" 
                                        data-bs-toggle="modal" data-bs-target="#fund_order_form">
                                          確定
                                        </button>
                                        <!-- Modal -->
                                        <div class="modal fade" id="fund_order_form" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                          <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                              <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">請確認</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                              </div>
                                              <div class="modal-body">

<!-- formxxxx -->

                                                  <div class="container-fluid">
                                                      <div class="row">
                                                          <div class="col-md-4">.col-md-4</div>
                                                          <div class="col-md-4 ml-auto">.col-md-4 .ml-auto</div>
                                                      </div>
                                                      <div class="row">
                                                          <div class="col-md-3 ml-auto">.col-md-3 .ml-auto</div>
                                                          <div class="col-md-2 ml-auto">.col-md-2 .ml-auto</div>
                                                      </div>
                                                      <div class="row">
                                                          <div class="col-md-6 ml-auto">.col-md-6 .ml-auto</div>
                                                      </div>
                                                      <div class="row">
                                                          <div class="col-sm-9">Level 1: .col-sm-9
                                                              <div class="row">
                                                                  <div class="col-8 col-sm-6">Level 2: .col-8 .col-sm-6
                                                                  </div>
                                                                  <div class="col-4 col-sm-6">Level 2: .col-4 .col-sm-6
                                                                  </div>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-primary">Save changes</button>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </td>
                                    </tr>
                                  </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-12 col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title"><%= "#{@coin.name}-PERP" %></h4>
                            </div>
                            <div class="card-body">
                              <%= line_chart [{name: "費率", data:  @line_chart_data},{name: "", data: @zeros}], id: "funding-rates", points: false, suffix: "%", colors: ["#6cc30ca1","#593bdba1"], height: "300px", loading: "Loading...",dataset: {borderWidth: 1.5}, discrete: true %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--**********************************
  Content body end
***********************************-->