<style type="text/css">

  input[type="range"] {
  -webkit-appearance: none;
  height: 0.875rem;
  width: 100%;
  border-radius: 0.875rem;
  overflow: hidden;
  cursor: pointer;}
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0.875rem;
    height: 0.875rem;
    border-radius: 0.875rem;
    border: 0.1rem solid #999;
    background-color: #fff;
    box-shadow: -20vw 0 0.5vw 19.5vw #593bdb8a;
  }
  input[type="range"]::-webkit-slider-runnable-track {
    background-color: #e9ecef;
  }

</style>
<!-- **********************************
  Content body start
*********************************** -->
<div class="content-body">
    <div class="container-fluid">
        <!-- row -->
        <div class="row">
          <div class="col-xl-8 col-md-12 col-sm-12">
              <div class="card">
                  <div class="stat-widget-two card-body">
                    <div class="stat-content">
                      <table class="table table-hover table-fixhead table-responsive mb-0">
                        <thead>
                          <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th colspan="2">1日</th>
                            <th colspan="2">3日</th>
                            <th colspan="2">7日</th>
                            <th colspan="2">30日</th>
                            <th colspan="2">歷史</th>
                          </tr>
                          <tr>
                            <th></th>
                            <th>持倉</th>
                            <th>永續：現貨</th>
                            <th>收益</th>
                            <th>年化</th>
                            <th>收益</th>
                            <th>年化</th>
                            <th>收益</th>
                            <th>年化</th>
                            <th>收益</th>
                            <th>年化</th>
                            <th>收益</th>
                            <th>年化</th>
                          </tr>
                        </thead>
                        <tbody>
                            <% @positions.each do |coin_name, position| %>
                              <% next unless fundingstat = @fundingstats.detect {|fs| fs[:coin_name] == coin_name} %>
                              <tr>
                                <td class="text-center">
                                  <%= link_to coin_name, funding_show_path(:coin_name => coin_name), data: { turbolinks: false } %>
                                </td>
                                <td class="text-right">
                                  <%= number_to_currency(position["cost"], precision: 2) %>
                                </td>
                                <td class="text-center">
                                  <%= number_with_precision(position["netSize"], precision: position["precision"], delimiter: ',') %>
                                  ：
                                  <%= number_with_precision(balances[coin_name]["amount"], precision: position["precision"], delimiter: ',') %>
                                </td>
                                <td class="text-right"><%= number_to_currency(fundingstat[:last_1_day_payments]) %></td>
                                <td class="text-right"><%= fundingstat[:last_1_day_irr] %>%</td>
                                <td class="text-right"><%= number_to_currency(fundingstat[:last_3_day_payments]) %></td>
                                <td class="text-right"><%= fundingstat[:last_3_day_irr] %>%</td>
                                <td class="text-right"><%= number_to_currency(fundingstat[:last_7_day_payments]) %></td>
                                <td class="text-right"><%= fundingstat[:last_7_day_irr] %>%</td>
                                <td class="text-right"><%= number_to_currency(fundingstat[:last_30_day_payments]) %></td>
                                <td class="text-right"><%= fundingstat[:last_30_day_irr] %>%</td>
                                <td class="text-right"><%= number_to_currency(fundingstat[:historical_payments]) %></td>
                                <td class="text-right"><%= fundingstat[:historical_irr] %>%</td>
                              </tr>
                            <% end %>
                            <% fundingstat = @fundingstats.detect {|fs| fs[:coin_name] == "total_of_coins"} %>
                              <tr>
                                <td class="text-center">
                                  小計
                                </td>
                                <td class="text-right"><%= number_to_currency(@positions.map {|k,v| v["cost"]}.sum, precision: 2) %></td>
                                <td class="text-center"></td>
                                <td class="text-right"><%= number_to_currency(fundingstat[:last_1_day_payments]) %></td>
                                <td class="text-right"><%= fundingstat[:last_1_day_irr] %>%</td>
                                <td class="text-right"><%= number_to_currency(fundingstat[:last_3_day_payments]) %></td>
                                <td class="text-right"><%= fundingstat[:last_3_day_irr] %>%</td>
                                <td class="text-right"><%= number_to_currency(fundingstat[:last_7_day_payments]) %></td>
                                <td class="text-right"><%= fundingstat[:last_7_day_irr] %>%</td>
                                <td class="text-right"><%= number_to_currency(fundingstat[:last_30_day_payments]) %></td>
                                <td class="text-right"><%= fundingstat[:last_30_day_irr] %>%</td>
                                <td class="text-right"><%= number_to_currency(fundingstat[:historical_payments]) %></td>
                                <td class="text-right"><%= fundingstat[:historical_irr] %>%</td>
                              </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
              </div>
          </div>
          <div class="col-xl-4 col-md-12 col-sm-12">
              <div class="card">
                  <div class="card-header">
                    <div class="dropdown card-title">
                      <a class="btn btn-rounded btn-outline-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        <%= "#{@coin.name}-PERP" %>
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <% @coins.each do |coin| %>
                          <li>
                          <%= link_to coin.name, funding_show_path(:coin_name => coin.name), :class => "dropdown-item #{('text-muted' unless coin.weight > 0)}", data: { turbolinks: false } %>
                          </li>
                        <% end %>
                      </ul>
                    </div>
                  </div>
                  <div class="card-body">
                    <%= line_chart [{name: "費率", data:  @line_chart_data},{name: "", data: @zeros}], id: "funding-rates", points: false, suffix: "%", colors: ["#6cc30ca1","#593bdba1"], height: "300px", loading: "Loading...",dataset: {borderWidth: 1.5}, discrete: true %>
                  </div>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-3 col-md-6 col-sm-12">
            <div class="card">
                <div class="stat-widget-two card-body">
                    <div class="stat-content">
                      <% leverage = (@ftx_account["result"]["totalPositionSize"]/@ftx_account["result"]["collateral"]).round(2) if @ftx_account["result"]["collateral"] %>
                      <% if leverage >= 1 %>
                        <% percentage = (1 / leverage) * 100.round(0) %>
                        <% percentage_over = 100 - percentage %>
                      <% else %>
                        <% percentage = leverage * 100.round(0) %>
                        <% percentage_over = 0 %>
                      <% end %>
                      <div class="stat-text">持倉槓桿</div>
                      <div class="stat-digit">
                        <%= leverage %> <i class="far fa-times"></i>
                      </div>
                    </div>
                    <div class="progress">
                      <% lev_color = "bg-warning" if leverage >= 1 %>
                      <div class="progress-bar bg-success" style="width: <%= percentage %>%" role="progressbar" aria-valuenow="<%= percentage %>" aria-valuemin="0" aria-valuemax="100"></div>
                      <div class="progress-bar progress-bar-striped progress-bar-animated <%= lev_color %>" style="width: <%= percentage_over %>%" role="progressbar" aria-valuenow="<%= percentage_over %>" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="stat-widget-two card-body">
                    <div class="stat-content">
                        <div class="stat-text">現貨價值</div>
                        <div class="stat-digit"> <i class="far fa-dollar-sign"></i><%= balances["totalusdValue"].round(2) %></div>
                        <%= pie_chart @pie_chart_balances_data, prefix: "$", donut: true, dataset: {borderWidth: 5, hoverOffset: 4,backgroundColor: ["#99b2e5","#ed9c88","#ffcc7f","#87ca8b","#cc7fcc","#9d9ed5","#7fcce2"]} %>
                    </div>
                </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 col-sm-12">
            <div class="card">
                <div class="stat-widget-two card-body">
                    <div class="stat-content">
                        <div class="stat-text">USD可用餘額</div>
                        <div class="stat-digit">
                          <i class="far fa-dollar-sign"></i><%= balances["USD"]["amount"].round(2) %>
                        </div>
                    </div>
                    <div class="progress">
                      <% percent = (balances["USD"]["amount"] / balances["totalusdValue"]) * 100.round(0) %>
                      <div class="progress-bar bg-success" style="width: <%= percent %>%" role="progressbar" aria-valuenow="<%= percent %>" aria-valuemin="0" aria-valuemax="100">
                        USD
                      </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title"><%= "開單設定" %></h4>
                </div>
                <div class="card-body">
                    <table class="table table-sm mb-0">
                      <% precision = decimals(@coin.sizeIncrement) %>
                      <% max_additional_amount = 
                        ((balances["USD"]["amount"] / @fund_stat.spot_ask_usd) / @coin.sizeIncrement).floor * @coin.sizeIncrement %>
                      <thead>
                        <tr>
                          <th><%= "#{@coin.name}" %></th>
                          <th>現貨</th>
                          <th>永續</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="text-right">持有數量</td>
                          <td class="text-right">
                            <%= number_with_precision(balances[@coin.name]["amount"], precision: precision, delimiter: ',') %>
                          </td>
                          <td class="text-right">
                            <%= number_with_precision(@positions[@coin.name]["netSize"], precision: precision, delimiter: ',') %>
                          </td>
                        </tr>
                        <tr>
                          <td class="text-right">美元價值</td>
                          <td class="text-right"><%= "#{number_to_currency(balances[@coin.name]["usdValue"], precision: 2)}" %></td>
                          <td class="text-right"><%= "#{number_to_currency(@positions[@coin.name]["cost"], precision: 2)}" %></td>
                        </tr>
                        <tr>
                          <td class="text-right">當前成交價</td>
                          <td class="text-right">
                            <%= "#{number_to_currency(@fund_stat.spot_ask_usd, precision: decimals(@fund_stat.spot_ask_usd) > 8 ? 8 : decimals(@fund_stat.spot_ask_usd))}" %>
                          </td>
                          <td class="text-right">
                            <%= "#{number_to_currency(@fund_stat.perp_bid_usd, precision: decimals(@fund_stat.perp_bid_usd) > 8 ? 8 : decimals(@fund_stat.perp_bid_usd))}" %>
                          </td>
                        </tr>
                        <tr>
                          <td class="text-right">最大購買量</td>
                          <td class="text-right">
                            <%= number_with_precision(max_additional_amount, precision: precision) %></td>
                          <td class="text-right"></td>
                        </tr>

                      </tbody>
                      <thead>
                        <% unless @underway_order %>
                          <tr>
                            <td class="align-bottom text-right" colspan="1">目標數量</td>
                            <td class="text-right" colspan="12">
                              <input type="range" id="a_slider"
                                min="0"
                                max="<%= number_with_precision(max_additional_amount + @positions[@coin.name]["netSize"].abs, precision: precision)%>"
                                value="<%= number_with_precision(@positions[@coin.name]["netSize"].abs, precision: precision) %>"
                                step="<%= number_with_precision(@coin.sizeIncrement ,precision: precision) %>"
                                aria-valuemin="0"
                                aria-valuemax="<%= number_with_precision(max_additional_amount + @positions[@coin.name]["netSize"].abs,precision: precision) %>"
                                aria-valuenow="<%= number_with_precision(@positions[@coin.name]["netSize"].abs, precision: precision) %>">
                              <div>
                                <div id="bias" style="display: inline; padding-right: 0.3rem;">(+0)</div>
                                <output for="a_slider" id="disp_amount" digits="<%= precision %>">
                                  <%= number_with_precision(@positions[@coin.name]["netSize"].abs, precision: precision) %>
                                </output>
                              </div>  
                            </td>
                          </tr>
                          <tr>
                            <td colspan="1">
                            </td>
                            <td colspan="2">
                              <!-- Button fund_order_form_trigger -->
                              <button type="button" id="fund_order_form_trigger" class="btn btn-outline-secondary btn-rounded" 
                              data-bs-toggle="modal" data-bs-target="#fund_order_form" disabled="true">
                                確定
                              </button>
                            </td>
                          </tr>
                        <% else %>
                          <tr>
                            <td class="align-bottom text-right" colspan="1">目標數量</td>
                            <td class="text-right" colspan="12">

                              <div class="align-bottom text-left text-primary" colspan="3">
                                <% if @coin.id == @underway_order.coin_id %>
                                  系統已有訂單執行中
                                <% else %>
                                  系統已有訂單執行中：<%= link_to " #{@underway_order.coin_name}", funding_show_path(coin_name: @underway_order.coin_name), data: { turbolinks: false } %>
                                <% end %>
                              </div>
                              <div style="font-size: 1.2rem;">
                                  <%= @underway_order.target_spot_amount.abs %>
                              </div>  
                            </td>
                          </tr>
                          <tr>
                          </tr>
                          <tr>
                            <td colspan="1">
                            </td>
                            <td colspan="2">
                              <!-- Button change to abort -->
                              <button type="button" class="btn btn-outline-danger btn-rounded" 
                              data-bs-toggle="modal" data-bs-target="#fund_order_abort_alert">
                                終止訂單？
                              </button>
                            </td>
                          </tr>
                        <% end %>
                      </thead>
                    </table>
                </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-12 col-md-12">
            <div class="card">
              <div class="card-header">
                  <h4 class="card-title">歷史紀錄</h4>
              </div>
              <div class="card-body custum-th-padding">
                <table class="table table-sm mb-0 table-bordered table-hover table-fixhead table-responsive" data-toggle="table" >
                    <thead>
                      <tr>
                        <th data-sortable="true">幣種</th>
                        <th data-sortable="true">訂單建立時間</th>
                        <th data-sortable="true">訂單狀態</th>
                        <th>原始數量(永續:現貨)</th>
                        <th>目標數量(永續:現貨)</th>
                        <th>方向</th>
                        <th>設定價差</th>
                        <th>目前價差</th>
                        <th>訂單id</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @funding_orders.each do |f_order| %>
                        <% direction = f_order.target_perp_amount.abs - f_order.original_perp_amount.abs > 0 ? "加倉" : "減倉" %>
                        <% precision = decimals(f_order.coin.sizeIncrement) %>
                        <tr>
                          <td class="text-center"> 
                            <%= link_to f_order.coin_name, funding_show_path(:coin_name => f_order.coin_name), 
                            :class => "btn btn-rounded btn-outline-light #{'text-muted' unless f_order.coin.weight > 0}", data: { turbolinks: false } %>
                          </td>
                          <td class="text-right"><%= "#{(f_order.created_at).strftime('%F %T')}" %></td>
                            <% case f_order.order_status %>
                            <% when "Close" %>
                              <% order_st_style = "text-success" %>
                            <% when "Abort" %>
                              <% order_st_style = "text-light" %>
                            <% else %>
                              <% order_st_style = "text-warning" %>
                            <% end %>
                          <td class="text-center <%= order_st_style %>" title='<%= "id (#{f_order.id}): #{f_order.description}" if f_order.description %>'>
                            <%= "#{f_order.order_status}" %>
                          </td>
                          <td class="text-center">
                            <%= "#{number_with_precision(f_order.original_perp_amount, precision: precision).to_s} ： #{number_with_precision(f_order.original_spot_amount, precision: precision + 1).to_s}" %>
                          </td>
                          <td class="text-center">
                            <%= "#{number_with_precision(f_order.target_perp_amount, precision: precision).to_s} ： #{number_with_precision(f_order.target_spot_amount, precision: precision).to_s}" %>
                          </td>
                          <td class="text-center">
                            <%= "#{direction}" %>
                          </td>
                          <td class="text-right">
                            <%= "#{f_order.threshold}" %>%
                          </td>
                          <td class="text-right">
                            <% if f_order.order_status == "Underway" %>
                              <%= "#{((f_order.coin.current_fund_stat.perp_over_spot - 1) * 100).round(3)}%" if direction == "加倉" %>
                              <%= "#{((f_order.coin.current_fund_stat.spot_over_perp - 1) * 100).round(3)}%" if direction == "減倉" %>
                            <% end %>
                          </td>
                          <td class="text-center"><%= f_order.id %></td>
                        </tr>
                      <% end %>
                      <tr></tr>
                    </tbody>
                </table>
              </div>
            </div>
          </div>
      </div>
    </div>
</div>
<!--**********************************
  Content body end
***********************************-->


<!-- Modal -->
<% unless @underway_order %>
  <div class="modal fade" id="fund_order_form" tabindex="-1" aria-labelledby="funding_order_modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <%= form_with model: @funding_order, url: funding_order_path do |form| %>
        <div class="modal-header">
          <h5 class="modal-title" id="funding_order_modal">子帳號： MoneyOnRails</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body table-sm">
            <div class="container-fluid">
                 <%= form.hidden_field :coin_id %>
                 <%= form.hidden_field :coin_name %>
                <div class="row">
                    <div class="text-center col-sm-4"></div>
                    <div class="text-center col-sm-4"><%= "#{form.object.coin_name} 現貨" %></div>
                    <div class="text-center col-sm-4"><%= "#{form.object.coin_name}-PERP" %></div>
                </div>
                <div class="row">
                    <div class="in-form-text col-sm-4">原始數量</div>
                    <div class="text-right col-sm-4">
                      <%= form.number_field :original_spot_amount, readonly: true, :class => "form-control" %>
                    </div>
                    <div class="text-right col-sm-4">
                      <%= form.number_field :original_perp_amount, readonly: true, :class => "form-control" %>
                    </div>
                </div>
                <div class="row">
                    <div class="in-form-text col-sm-4">目標數量</div>
                    <div class="text-right col-sm-4">
                      <%= form.number_field :target_spot_amount, readonly: true, :class => "form-control",
                      id: (@positions[@coin.name]["netSize"] > 0 ? "neg_amount" : "pos_amount")  %>
                    </div>
                    <div class="text-right col-sm-4">
                      <%= form.number_field :target_perp_amount, readonly: true, :class => "form-control",
                      id: (@positions[@coin.name]["netSize"] > 0 ? "pos_amount" : "neg_amount")  %>
                    </div>
                </div>
                <div class="row">
                    <div class="in-form-text col-sm-4">執行</div>
                    <div class="in-form-text col-sm-8" id="biasinform"></div>
                </div>
                <div class="text-center row">
                    <div class="in-form-text2 col-sm-4">價差設定</div>
                    <div class="col-sm-4">
                      <div class="in-form-text <%= 'text-primary'if @fund_stat.perp_over_spot > 1 %>">
                        加倉價差： <%= ((@fund_stat.perp_over_spot - 1) * 100).round(3) %>&nbsp;%</div>
                      <div class="in-form-text <%= 'text-primary'if @fund_stat.spot_over_perp > 1 %>">
                        減倉價差： <%= ((@fund_stat.spot_over_perp - 1) * 100).round(3) %>&nbsp;%</div>
                    </div>
                    <div class="col-sm-4">
                      <div class="input-group" style="padding-top: 1rem;">
                        <%= form.number_field :threshold, step: 0.001, :value => 0.000, :class => "form-control" %>
                        <div class="input-group-text">%</div>
                      </div>
                    </div>
                </div>
                <div class="row">
                    <div class="in-form-text col-sm-4">加速設定</div>
                    <div class="in-form-text col-sm-8" id="biasinform">
                      
                      <div class="input-group mb-3">
                        <%= form.number_field :sizeIncrement, disabled: true, :class => "form-control", :value => @coin.sizeIncrement %>
                        <span class="input-group-text"><i class="far fa-times"></i></span>
                        <%= form.select(
                          :acceleration, 
                          ['1', '3', '5', '10', '20', '50', '100'],
                          {},
                          { :class => 'form-select' }) %>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary btn-rounded" data-bs-dismiss="modal">關 閉</button>
          <%= form.submit "送 出", :class => "text-center btn btn-outline-primary btn-rounded" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
  <div class="modal fade" id="fund_order_abort_alert" tabindex="-1" aria-labelledby="funding_order_modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="funding_order_modal">子帳號： MoneyOnRails</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body table-sm">
          <div class="container-fluid">
            <div class="text-center">
              <h3>
                <%= "確定終止 #{@underway_order.coin_name} 的訂單？" %>
              </h3>
            </div>
          </div>
        </div>
        <div class="modal-footer" style="display: block;">
          <div class="col-md-4 offset-md-4 text-left">
            <%= form_with model: @underway_order, url: funding_order_path, method: "PUT" do |form| %>
              <%= form.hidden_field :id %>
              <%= hidden_field_tag(:current_coin_name, @coin.name) %>
              <%= form.submit "確 定", :class => "text-center btn btn-outline-danger btn-rounded" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>